<h1>Please enter a number to play ping-pong!</h1>
<form action='/ping_pong' method='get'>
  <div class="form-group">
    <label for="number">A name</label>
    <input id="number" name="number" min="1" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Let's Play!</button>
</form>
